@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Lato';

$primary-blue: #2980b9;
$secondary: #e74c3c;
$background: #ecf0f1;
$font-color: #2c3e50;

body{
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

h3,
h4{
  color: $primary-blue;
}
h3{
  margin-left: 20px;
}
.cover {
  width: 100%;
  height: 200px;
  position: relative; /* Para alinhar o year no centro*/
  border: 2px solid #ddd;/*Para delimitar enquanto não tem o banner*/
  background-color: $primary-blue;
  background-image: url("../img/cover.png");

  h2{
    text-align: center;
    color: $background;
  }

}
.year{
  width: 150px;
  display: inline;
  /*margin: 0 auto;
  margin-top: 107px;*/
  background-color: #fff;//#ecf0f1;
  color: $primary-blue;
  text-align: center;
  font-weight: bold;
  border-radius: 0;

  option{
    background-color: $background;
    color: $font-color;
  }
}

.pre-page {
  position: relative;
  background-color: $background;
  /*border-radius: 10px;*/
  height: 150px;
  margin-top: 50px;
  box-shadow: 2px 2px #ddd;
  border-left: 4px solid $primary-blue;



  a{
    position: absolute;
    bottom: 0;
    right: 0;
    color: $secondary;
  }

  h4{
    text-align: center;
    padding-top: 10px;
  }

  h5{
    color: $font-color;
    padding-left: 10px;
    padding-top: 10px;
    span{
      color: $primary-blue;
      font-size: 17px;
      font-weight: bold;
      padding-left: 5px;
    }
  }
}

.title-sch{
  text-align: center;
  color: $primary-blue;
}

.data-sch{
  height: 50px;
  width: 50%;
  margin: auto;
  position: relative;
  left: 0;
  right: 0;
  background-color: $background;
  box-shadow: 2px 2px #ddd;
  border-left: 4px solid $primary-blue;

  h4{
    padding: 15px;
    color: $font-color;
    span{
      font-weight: bold;
      //color: $primary-blue;
    }
  }

}
footer{
  position: absolute;
  bottom: 0;
  right: 0;
  span{
    font-size: 12px;
    color: $secondary;
  }
}

@media only screen and (max-width: 768px) {
  .cover{
    background-image: url("../img/tumb768.png");
  }
  .data-sch{
    height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .cover{
    background-image: url("../img/tumb480.png");
  }
  .data-sch{
    height: 100px;
  }
}

.back{
  margin-left: 15px;
  color: $secondary;
}
