<!DOCTYPE html>
<html lang="en" ng-app="observatoryApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Observatório FAPEPI</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="scss/app.min.css">
  <link rel="icon" href="img/logo.png" type="image/x-icon" />
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="http://code.highcharts.com/maps/highmaps.js"></script>
  <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
  <script src="https://use.fontawesome.com/e0f5b08d2d.js"></script>
  <script src="js/map.js"></script>
  <script src="js/app.js"></script>

</head>
<body ng-controller="AppController">
  <header class="cover">
    <!--<h2>Observatório FAPEPI</h2>-->
    <!--<select class="year form-control"
      ng-options="year.id for year in years"
      ng-model="data">
    </select>-->
  </header>
  <section class="title">
    <h3>FAPEPI
      <select class="year form-control"
        ng-options="year.id for year in years"
        ng-model="data">
      </select>
    </h3><!-- Muda de acordo com o ano selecionado no header-->
  </section>
  <section class="container">
    <div class="row">
      <div class="col-md-3" id="scholarship">
        <div class="pre-page">
          <h4>Bolsas de pós graduação</h4>
          <div class="number">
            <h5>Quantidade:<span>{{calculateTotal(data.scholarship)}}</span></h5>
          </div>
          <div class="value">
            <h5>Valor: <span>{{calculateValue(data.scholarship)|currency:"R$"}}</span></h5>
          </div>
          <a class="" href="#"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pre-page">
          <h4>Auxílio a pesquisas</h4>
          <div class="number">
            <h5>Quantidade:<span>{{calculateTotal(data.research)}}</span></h5>
          </div>
          <div class="value">
            <h5>Valor: <span>{{calculateValue(data.research)|currency:"R$"}}</span></h5>
          </div>
          <a class="" href="#"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
        </div>
        <!--<div id="container" style="width:100%; height:600px;"></div>-->
      </div>
      <div class="col-md-3">
        <div class="pre-page">
          <h4>Auxílio a eventos</h4>
          <div class="number">
            <h5>Quantidade: <span>{{calculateTotal(data.events)}}</span></h5>
          </div>
          <div class="value">
            <h5>Valor: <span>{{calculateValue(data.research)|currency:"R$"}}</span></h5>
          </div>
          <a class="" href="#"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-3 institution">
        <div class="pre-page">
          <h4>Instituições</h4>
          <div class="institution-values">
            <h5>UESPI: <span>{{calculateSchool(data.scholarship)|currency:"R$"}}</span></h5>
          </div>
          <div class="instituition-values">
            <h5>UFPI: <span>{{calculateSchool(data.scholarship)|currency:"R$"}}</span></h5>
          </div>
          <div class="instituition-values">
            <h5>IFPI: <span>{{calculateSchool(data.scholarship)|currency:"R$"}}</span></h5>
          </div>
          <a class="" href="#"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </section>
  <footer></footer>
</body>
</html>
